
    <img src="../img/Arsenal_Stadium_Emirates.jpeg" class="image-responsive" style="width: 100%; height:400px" />
    <div class="container-fluid" id="match-detail-con">
      
            <div class="row inner-box">
			  <div style="color: wheat; font-size:1.5em" class="col-xs-12">{{detalCtrl.matchDetail.date | date:long}}</div>
                <div class="col-xs-5 col-sm-5" id="team1-details">{{detalCtrl.matchDetail.team1.name}}</div>
                <div class="col-xs-2 col-sm-2 score score-detail">{{detalCtrl.matchDetail.score1}}-{{detalCtrl.matchDetail.score2}}</div>
                <div class="col-xs-4 col-sm-4" id="team2-details">{{detalCtrl.matchDetail.team2.name}}</div>
            </div>
        </div>
      </div>
    </div>
